<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <speedo>
            <storage>
                <sources hint="raw:AddSource">
                    <source site="speedo" media="/sitecore/media library/SpeedoDemo" apiKey="3c22a88c-600a-414b-87ca-2aee4e998fa4" output="C:\speedo\speedo" />
                </sources>
            </storage>
        </speedo>
    </sitecore>
</configuration>