<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
        <settings>
            <setting name="Sitecore.LoadBalancing.Enabled" value="true" />
            <setting name="Sitecore.LoadBalancing.HostHeader" value="X-FORWARDED-HOST" />
            <setting name="Sitecore.LoadBalancing.SchemeHeader" value="X-FORWARDED-PROTO" />
            <setting name="Sitecore.LoadBalancing.PortHeader" value="X-FORWARDED-PORT" />
        </settings>
    </sitecore>
</configuration>