<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <events>
            <event name="publish:complete">
                <handler type="Speedo.Feature.SitecorePublisher.Events.PublishCompleteHandler, Speedo.Feature.SitecorePublisher" method="RunUpdateStoragePipeline" resolve="true" />
            </event>
        </events>
        <pipelines>
            <group groupName="speedo">
                <pipelines>
                    <updatestorage>
                        <processor type="Speedo.Feature.SitecorePublisher.Storage.FileSystem.Pipelines.UpdateStorage.AbortOnNoChanges, Speedo.Feature.SitecorePublisher"  />
                        <processor type="Speedo.Feature.SitecorePublisher.Storage.FileSystem.Pipelines.UpdateStorage.SaveSnapshot, Speedo.Feature.SitecorePublisher" resolve="true" />
                    </updatestorage>
                </pipelines>
            </group>
        </pipelines>

        <services>
            <configurator type="Speedo.Feature.SitecorePublisher.SpeedoServiceConfigurator, Speedo.Feature.SitecorePublisher" />
        </services>

        <speedo>
            <storage type="Speedo.Feature.SitecorePublisher.Storage.Configuration.StorageConfiguration, Speedo.Feature.SitecorePublisher">
                <sources hint="raw:AddSource">
                    <source path="/sitecore/content/SpeedoDemo"/>
                    <source path="/sitecore/media library/SpeedoDemo"/>
                </sources>
            </storage>
        </speedo>
    </sitecore>
</configuration>