/data/cm/*
!/data/cm/.gitkeep
/data/cd/*
!/data/cd/.gitkeep
/data/mssql/*
!/data/mssql/.gitkeep
/data/solr/*
!/data/solr/.gitkeep

/data/speedo/speedo/content/*
!/data/speedo/speedo/content/.gitkeep

/data/speedo/speedo/media/*
!/data/speedo/speedo/media/.gitkeep

/deploy/platform/*
!/deploy/platform/.gitkeep

/deploy/xconnect/*
!/deploy/xconnect/.gitkeep