@model Speedo.Feature.ContentComponents.Rendering.Models.BannerModel

<article  class="post @Model.Style.Value">
    <div class="image">
        <sc-img asp-for="Image"></sc-img>
    </div>
    <div class="content">
        <div class="inner">
            <header>
                @if (Model.NavigationLink != null)
                {
                    <h2>
                        <sc-link asp-for="NavigationLink"><sc-text asp-for="Title"></sc-text></sc-link>
                    </h2>
                }
                
                else
                {
                    <h2 asp-for="Title"></h2>
                }
                <p class="info" asp-for="Author"></p>
            </header>
            <p asp-for="Text"></p>
            <ul class="actions">
                @if (Model.NavigationLink != null)
                {
                    <li>
                        <sc-link asp-for="NavigationLink" class="button alt"><sc-text asp-for="Title"></sc-text></sc-link>
                    </li>
                }
                else
                {
                    <li asp-for="NavigationLinkText"></li>
                }
            </ul>
        </div>
    </div>
</article>